* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

header {
  border-bottom: 5px solid #584b4b;
  padding-top: 48px;
  padding-bottom: 48px;
}

.max-width-wrapper {
  margin: 0 auto;
  max-width: 600px;
}

.intro-chunk {
  /* max-width: min-content; */
  max-width: 20em;
  padding: 0 24px;
}

.intro-chunk strong {
  color: #884d4d;
  text-decoration: none;
}

.title {
  margin-bottom: 32px;
}

main {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: rgb(126, 115, 115);
}

.card {
  background-color: #fff;
  border-bottom: 5px solid #574949;
  margin-bottom: 32px;
  padding: 32px 24px;
}

.indented-heading {
  font-size: 1.1rem;
  padding: 16px 32px;
  background-color: rgb(212, 212, 38);
  border-bottom: 5px solid #9ea720;
  margin-top: -24px;
  margin-left: -36px;
  margin-bottom: 8px;
  display: inline-block;
}
